@import './variable.scss';

//center .title-zone in the middle of the screen (vertically and horizontally)
.title-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.letter-color {
    color: $ternary-color;
    font-size: 45px;
}

.hook {
    text-align: center;
}

.getIn {
    margin: 0 auto;
    border: $secondary-color 2px solid;
    background: linear-gradient(to left, $primary-color 50%, $ternary-color 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

}

.getIn:hover {
   cursor: pointer;
   background-position: left bottom;
   color: black;
}

.getIn-text {
    font-size: 20px;
    font-weight: 500;
}