@import './variable.scss';

.header {
    margin-right: 2%;
    margin-left: 2%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-navbar {
    font-size: 27px;
    @media screen and(max-width:768px) {
        font-size: 14px;
    }
    
}
.link-navbar:hover {
    color: $secondary-color;
}

.link-active {
    color: $secondary-color;
}

.nav-link {
    display: flex;
    gap: 1rem;
    font-size: 20px;

}

.ed {
    color: $secondary-color;
    font-family: Dancing Script;
    font-size: 36px;
}