@import './variable.scss';

.title-project {
  text-align: center;
}
.project-container {
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    position: absolute;
    @media screen and(max-width:768px) {
        display: flex;
        flex-direction: column;
    }
}
.project-card {
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  background-color: $secondary-color; 
  cursor: pointer;
}

.img-project {
  border-radius: 0.5rem 0.5rem 0 0;
}

.project-card-title {
  padding-left: 1rem;
  margin-top: 0;
}

.project-card-image {
  @media screen and(max-width:768px) {
    width: 345px;
  }
  }
